.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .footer-menu a {
    margin: 0 20px;
    color: #ada9a9;
    text-decoration: none;
  }
  .footer-menu a:hover{
    color: white;
  }
  .footer-social-icon {
    padding-bottom: 25px;
  }
  .footer-social-icon a {
    margin: 0 10px;
    padding: 6px 9px;
    border-radius: 20%;
    background: rgb(49, 47, 47);
    font-size: 20px;
    color: #b3b3b3;
  }
  .footer-social-icon a:hover{
    background-color: white;
    color: #161616;
  }